{{define "content"}} {{- if .Form.Submission.IsDone}}
<article class="message is-large is-success">
  <div class="message-header">
    <p>Thank you!</p>
  </div>
  <div class="message-body">Your project is submitted</div>
</article>
{{- else}}
<form id="project" method="post" action="{{call .ToURL "project.post"}}">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" value="{{.Form.Name}}" />
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <textarea
        id="Description"
        name="Description"
        class="textarea"
        value="{{.Form.Description}}"
      ></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>
  {{template "csrf" .}}
</form>
{{- end}} {{end}}
